task: "nerf_replication"
gpus: [0] # set gpu device number
exp_name: "nerf"
scene: "lego"

train_dataset_module: src.datasets.nerf.blender
test_dataset_module: src.datasets.nerf.blender
network_module: src.models.nerf.network
renderer_module: src.models.nerf.renderer.volume_renderer
loss_module: src.train.trainers.nerf
evaluator_module: src.evaluators.nerf

task_arg:
  N_rays: 1024 # number of rays in each batch
  chunk_size: 4096 # number of rays processed in parallel
  # chunk_size: 256
  # chunk_size是net里面一次处理的光线数
  # 但是它没考虑到embed步骤就可能出现OOP
  # 所以我在下面再引入了3个参数
  double_chunk_coarse: True    # ❗ 这是我自己加的。True表示在渲染前手动对光线分块、传入net
  double_chunk_fine: True  # ❗ 这是我自己加的
  # pre_chunk_size: 16384 # ❗ 这是我自己加的。是渲染前手动对光线分块、传入net,避免embed的时候OOM
  pre_chunk_size: 65536
  # pre_chunk_size: 256
  # pre_chunk_size的大小应当对渲染质量没影响，但是会影响渲染速度


  # ❗下面的ERT和ESS相关参数是我自己加的
  use_ERT: True   # ❓ kilo论文是仅在测试时使用ERT。但是
  # use_ERT: False   # ❓ kilo论文是仅在测试时使用ERT。但是
  ERT_threshold: 1e-4


  use_ESS: True
  occ_filename: "occupancy_Q"
  occ_res: [128,128,128]  # Occupancy grid将有128^3个体素
  voxel_sample: [3,3,3]   # 每个体素内采集[3,3,3]共27个点，判断这个体素是否被占据
  occ_threshold: 1e-4  # 一个体素中若有1个点的σ达到阈值，就认为这个体素是被占据的
  AABB_min: [-2.0, -2.0, -2.0]
  AABB_max: [2.0 ,  2.0,  2.0]
  voxel_chunk: True  # 分块处理体素来构建occupancy grid，避免OOM
  voxel_chunk_size: 1024





  
  white_bkgd: 1 # use white background
  N_samples: 64 # number of samples per ray in coarse network
  N_importance: 128 # number of samples per ray in fine network
  # N_importance: 512 # 改成512之后PSNR没有明显上升。耗时多了很多
  no_batching: True # True for synthetic datasets
  use_viewdirs: True # whether use full 5D input instead of 3D
  lindisp: False
  perturb: 1
  raw_noise_std: 0
  use_pe: True # whether use positional encoding
  test_skip: 1 # will load 1/N images from test/val sets, useful for large datasets
  precrop_iters: 500
  precrop_frac: 0.5

network:
  nerf:
    W: 256 # width of network
    D: 8 # depth of network
    V_D: 1 # appearance depth
    skips: [4]
  xyz_encoder: # encoder for location
    type: "frequency"
    input_dim: 3 # dimensions of input data
    freq: 10 # dimensions of encoding location
  dir_encoder: # encoder for direction
    type: "frequency"
    input_dim: 3 # dimensions of input data
    freq: 4 # dimensions of encoding direction

train_dataset:
  data_root: "data/nerf_synthetic"
  split: "train"
  input_ratio: 1. # whether to downsampling the image, you can set it to 0.5 to acclerate training
  cams: [0, -1, 1] # input cameras, you can use this variable to select training images
  #这个写法会被用作python切片，这里就是从0一直取到最后，也就是在训练时加载所有图像。
  H: 800
  W: 800

test_dataset:
  data_root: "data/nerf_synthetic"
  split: "test"
  input_ratio: 0.5   
  # input_ratio: 1.0  # 改成1.0可以提高渲染质量，但是会慢很多

  # cams: [0, -1, 100]  #在测试集里面，每100个抽取1个，而不是全部加载
  cams: [0, -1, 50]  # 我改成每20个视角抽取1个.这样可以渲染出10张图片
  H: 800
  W: 800

train:
  single_view: False
  batch_size: 1
  lr: 5e-4 # learning rate
  weight_decay: 0.
  epoch: 600
  optim: 'adam'
  scheduler:
    type: "exponential"
    gamma: 0.1
    decay_epochs: 500 # original 1000
  num_workers: 4

test:
  batch_size: 1

eval:
  whole_img: True

ep_iter: 500 # number of iterations in each epoch
# save_ep: 40  # 每40次保存一次模型
save_ep: 20  # 改为每20次保存一次模型

eval_ep: 40 # 20000 iterations
# save_latest_ep: 10 # 5000 iterations
save_latest_ep: 1   # 改为每个周期都记录最新模型

# log_interval: 10
log_interval: 1   # 获取最详细的日志
